@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #9AEBA3, #45C4B0)
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #01203094;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color: #13678A;
    text-shadow: 1px 1px 2px #1157759d;
}
h2{
    color: #45C4B0;
}
p{
    text-align: justify;
}


/* 

Paleta de cores do ex016 - cor03

#012030
#13678A
#45C4B0
#9AEBA3
#DAFDBA 

*/